.volunteer-form {
	.nav-item {
		button {
			color: $raha;

			&.active {
				background-color: $raha;
			}
		}
	}
}

@media (max-width: 768px) {
	.volunteer-form {
		h5 {
			font-size: 1rem;
			margin-bottom: 0 !important;
		}
	}
}
