<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
			integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"
		/>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
		></script>
		<link rel="stylesheet" href="../assets/style/index.css" />
		<title>2023 annoul Report</title>
	</head>
	<body>
		<header class="home-bg-img curve overflow-hidden">
			<div className="main">
				<nav class="mobile-nav">
					<div class="nav-content">
						<a href="/">
							<img src="../assets/images/mob-logo.jpg" alt="logo" />
						</a>

						<div class="donate-nav">
							<a href="/" class="donate-link mx-2"> Donate </a>
							<button
								class="btn bars-btn"
								type="button"
								data-bs-toggle="offcanvas"
								data-bs-target="#staticBackdrop"
								aria-controls="staticBackdrop"
							>
								<i class="fa-solid fa-bars fa-2x"></i>
							</button>

							<div
								class="offcanvas offcanvas-end"
								data-bs-backdrop="static"
								tabindex="-1"
								id="staticBackdrop"
								aria-labelledby="staticBackdropLabel"
							>
								<div class="offcanvas-header d-flex">
									<h5 class="offcanvas-title" id="staticBackdropLabel">
										<img src="./assets/images/svg/logoNoText.svg" alt="logo" />
									</h5>
									<button
										type="button"
										class="btn-close btn-close-white"
										data-bs-dismiss="offcanvas"
										aria-label="Close"
									></button>
								</div>
								<div class="offcanvas-body">
									<div class="accordion" id="accordionFirst">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseOne"
													aria-expanded="false"
													aria-controls="collapseOne"
												>
													Who We Are
												</button>
											</h2>
											<div
												id="collapseOne"
												class="accordion-collapse collapse"
												aria-labelledby="headingOne"
												data-bs-parent="#accordionExample"
											>
												<div class="accordion-body">
													<div class="about">
														<h6>About Us</h6>
														<ul>
															<li>
																<a
																	href="../components/impactGlance.html"
																	class="px-2"
																	>At A Glance</a
																>
															</li>
															<li>
																<a
																	href="../components/annualReport.html"
																	class="px-2"
																	>Annual Report</a
																>
															</li>
														</ul>
													</div>
													<ul class="p-0 m-0">
														<li>
															<a href="../components/diversity.html" class=""
																>Diversity</a
															>
														</li>
														<li>
															<a href="/" class="">Staff Leaders</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion mt-1" id="accordionSecond">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingTwo">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseTwo"
													aria-expanded="false"
													aria-controls="collapseTwo"
												>
													Where We Work
												</button>
											</h2>
											<div
												id="collapseTwo"
												class="accordion-collapse collapse"
												aria-labelledby="headingTwo"
												data-bs-parent="#accordionExample"
											>
												<div class="accordion-body"></div>
											</div>
										</div>
									</div>
									<div class="accordion mt-1" id="accordionThird">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingThree">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseThree"
													aria-expanded="false"
													aria-controls="collapseThree"
												>
													Where We Do
												</button>
											</h2>
											<div
												id="collapseThree"
												class="accordion-collapse collapse"
												aria-labelledby="headingThree"
												data-bs-parent="#accordionExample"
											>
												<div class="accordion-body"></div>
											</div>
										</div>
									</div>
									<div class="accordion mt-1" id="accordionFourth">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingForth">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseFoour"
													aria-expanded="false"
													aria-controls="collapseFoour"
												>
													How To Help
												</button>
											</h2>
											<div
												id="collapseFoour"
												class="accordion-collapse collapse"
												aria-labelledby="headingFoour"
												data-bs-parent="#accordionExample"
											>
												<div class="accordion-body"></div>
											</div>
										</div>
									</div>
									<div class="accordion mt-1" id="accordionFiveth">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingFive">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseFive"
													aria-expanded="false"
													aria-controls="collapseFive"
												>
													Latest
												</button>
											</h2>
											<div
												id="collapseFive"
												class="accordion-collapse collapse"
												aria-labelledby="headingFive"
												data-bs-parent="#accordionExample"
											>
												<div class="accordion-body"></div>
											</div>
										</div>
									</div>

									<div class="tabs my-3">
										<ul class="m-0 p-0 mx-3 py-2">
											<li class="tab-item">
												<a href="/" class="tab-link border-bottom border-dark">
													<i class="fa-solid fa-triangle-exclamation"></i>
													Crisis Watch</a
												>
											</li>
											<li class="tab-item">
												<a href="/" class="tab-link">
													<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
													Search</a
												>
											</li>
											<li class="tab-item">
												<a href="/pages/auth/login.html" class="tab-link">
													<i class="fa-regular fa-user"></i> Login</a
												>
											</li>

											<li class="tab-item">
												<a href="/pages/career.html" class="tab-link">
													<i class="fa-solid fa-box"></i> Careers</a
												>
											</li>

											<li class="tab-item">
												<a href="/pages/volunteer.html" class="tab-link">
													<i class="fa-solid fa-hand"></i> Volunteer</a
												>
											</li>
											<li>
												<div class="accordion mt-1" id="accordionFourth">
													<div class="accordion-item">
														<h2
															class="accordion-header global"
															id="headingGlobal"
														>
															<button
																class="accordion-button collapsed"
																type="button"
																data-bs-toggle="collapse"
																data-bs-target="#collapseGlobal"
																aria-expanded="false"
																aria-controls="collapseGlobal"
															>
																A.F./Global
															</button>
														</h2>
														<div
															id="collapseGlobal"
															class="accordion-collapse collapse"
															aria-labelledby="headingGlobal"
															data-bs-parent="#accordionExample"
														>
															<div class="accordion-body">
																<ul>
																	<li>Afghanistan</li>
																	<li>Japan</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</li>
											<div
												class="socials mt-3 pb-2 d-flex justify-content-around align-items-center"
											>
												<a href="/" class="brand-icon"
													><i class="fa-brands fa-twitter"></i
												></a>
												<a href="/" class="brand-icon"
													><i class="fa-brands fa-facebook-f"></i
												></a>
												<a href="/" class="brand-icon"
													><i class="fa-brands fa-instagram"></i
												></a>
												<a href="/" class="brand-icon"
													><i class="fa-brands fa-youtube"></i>
												</a>
												<a href="/" class="brand-icon"
													><i class="fa-brands fa-linkedin"></i
												></a>
											</div>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<picture class="bg-img d-none show">
					<source
						srcset="../assets/images/tablet.jpg"
						media="(min-width: 600px)"
					/>
					<img src="../assets/images/desktop.jpg" alt="MDN" />
				</picture>
				<div class="overlay-content">
					<div class="container">
						<div class="row m-auto">
							<div class="col-md-6 col-sm-12 z-1">
								<div class="content">
									<h3>A Collection Effort, A Better Future</h3>
									<p class="mt-3 mb-5">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quia a labore temporibus dignissimos corporis totam aperiam
										fugiat officiis odit iusto aliquid, blanditiis modi, eos
										consequatur, saepe culpa amet dicta perferendis.
									</p>
									<a href="../components/VolunteerForm.html">Donate Now</a>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 z-1">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">
											<span class="fw-small">Help Kids Who Never</span>
											Get A change To Play
										</h5>

										<div class="our-effect fw-small">Our Effectiveness</div>
										<div class="progress blue">
											<span class="progress-left">
												<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
												<span class="progress-bar"></span>
											</span>
											<div class="progress-value">90%</div>
										</div>

										<a href="../components/VolunteerForm.html">Donate Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div className="content">
					<div
						class="socials d-flex gap-2 flex-column justify-content-center align-items-center"
					>
						<a href="/" class="brand-icon twitter"
							><i class="fa-brands fa-twitter"></i
						></a>
						<a href="/" class="brand-icon facebook"
							><i class="fa-brands fa-facebook-f"></i
						></a>
						<a href="/" class="brand-icon instagram"
							><i class="fa-brands fa-instagram"></i
						></a>
					</div>
					<nav class="nav l-navbar mt-3">
						<div class="container d-flex gap-3">
							<a href="/" class="bg-logo">
								<img src="../assets/images/logo.png" alt="logo" />
							</a>
							<div class="lg-navbar w-100">
								<div class="bottom-section">
									<div class="tabs">
										<ul class="tab-ul p-0 m-0">
											<li class="tab-li first">
												<a href="../../components/who.html" class="tab-link"
													>Who We Are</a
												>
											</li>
											<li class="tab-li second">
												<a href="/components/map.html" class="tab-link"
													>Where We Work</a
												>
											</li>
											<li class="tab-li third">
												<a href="#!" class="tab-link">Waht We Do</a>
											</li>
										</ul>
									</div>
									<div class="search-donate d-flex justify-content-center">
										<i
											title="Search"
											class="fa-sharp fa-solid fa-magnifying-glass fa-lg nav-icon nav-search-icon"
										></i>
										<a
											href="../pages/auth/login.html"
											class="nav-icon-link"
											title="Login"
										>
											<i class="fa-regular fa-user fa-lg nav-icon"></i
										></a>
										<a
											href="../pages/volunteer.html"
											class="nav-icon-link"
											title="Be A Volunteer"
										>
											<i class="fa-solid fa-hand fa-lg nav-icon"></i>
										</a>
										<a
											title="Donate..."
											href="../components/VolunteerForm.html"
											class="donate-btn"
											>Donate <i class="fa-regular fa-heart ps-2"></i
										></a>
									</div>
								</div>

								<div class="secondary-tab first ul-list-item">
									<div class="row">
										<div class="col-md-6">
											<div class="container">
												<div class="about">
													<h6>About Us</h6>
													<ul>
														<li>
															<a
																href="../components/impactGlance.html"
																class="px-2"
																>At A Glance</a
															>
														</li>
														<li>
															<a
																href="../components/annualReport.html"
																class="px-2"
																>Annual Report</a
															>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<h6>Program</h6>
											<div class="people">
												<ul>
													<li>
														<a href="../components/diversity.html" class="px-2"
															>Diversity</a
														>
													</li>
													<li>
														<a href="../components/program.html" class="px-2"
															>Program</a
														>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="secondary-tab third ul-list-item">
									<div class="row">
										<h6 class="text-center">Where We Focus</h6>
										<div class="col-md-6">
											<div class="container">
												<div class="about">
													<ul>
														<li>
															<a href="./components/education.html" class="px-2"
																>Education
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="people">
												<ul>
													<li>
														<a href="/" class="px-2">Health </a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="secondary-tab forth">ssdfsdfsfss</div>
								<div class="secondary-tab fiveth">sdfsdfss</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<main>
			<section class="impact-glance mt-5">
				<div class="container">
					<div class="impact-glance-content">
						<h1 class="fw-bold mt-2">2021 Annual Report Executive Summary</h1>
						<p class="w-50 ms-5 my-3 glance-para">October 12, 2022</p>
					</div>
				</div>
			</section>

			<section class="impact-our-work">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<div class="annoul-report">
								<p>
									This compact executive summary of the International Rescue
									Committee (IRC) Annual Report covers the basics: our mission,
									a map of where we work, impact stats and financial data from
									Fiscal Year 2021. In Fiscal Year 2021, the IRC served 31.5
									million clients in countries affected by conflict. That
									includes providing 2.7 million people with access to clean
									water and treating 155K children under 5 for severe acute
									malnutrition. Additionally, the IRC served nearly 35K
									individuals in the United States with asylum and protection
									services. Through it all, our clients have been the focus of
									everything we’ve done and every decision we’ve made. For more
									impact stats from the year, an overview of our organizational
									strategy, and powerful stories about IRC clients, partners and
									supporters, see the full-length annual report.
								</p>
								<h5 class="fw-bold">AVAILABLE DOCUMENTS & LINKS</h5>
								<p>Download this report</p>
								<a href="/" class="fw-bold download-link">
									2021 Annual Report Executive Summary</a
								>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="annoul-report-img">
								<a href="/">
									<img
										src="../assets//images//annaulReport.jpg"
										alt="annoul-report-img"
									/>

									<p class="fw-bold mt-4">
										<span class="sub">Report: 2021 Annual Report</span>
										<span class="sub">Executive Summary</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="document-links">
				<div class="container"></div>
			</section>
		</main>

		<footer class="mt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="Our-efficiency">
							<p>Our efficiency</p>
							<div class="efficiency-item d-flex">
								<div class="graph">
									<svg
										id="Layer_1"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 499.5 499.5"
									>
										<style>
											.cls-2 {
												fill: #d1d1d1;
											}
										</style>
										<path
											class="cls-1"
											fill="currentColor"
											d="M411.1 249.7c0 88.8-72 160.8-160.8 160.8s-160.8-72-160.8-160.8 72-160.8 160.8-160.8c49.3 0 93.4 22.2 122.9 57.2L441 89.2C391.4 30 327 0 249.7 0 111.8 0 0 111.8 0 249.7s111.8 249.7 249.7 249.7 249.7-111.8 249.7-249.7h-88.3z"
										></path>
										<path
											class="cls-3"
											d="M405.6 208l85.4-22.9c-10-37.3-25.1-66.3-49.9-95.9l-67.8 56.9c14.9 17.7 26.1 38.8 32.3 61.9z"
										></path>
										<path
											class="cls-2"
											d="M411.1 249.7h88.4c0-22.1-2.8-43.3-8.5-64.6L405.6 208c3.6 13.3 5.5 27.3 5.5 41.7z"
										></path>
									</svg>
								</div>
								<div class="graph-data">
									<ul class="p-0">
										<li class="meta-data first">87% Program services</li>
										<li class="meta-data second">8% Management and general</li>
										<li class="meta-data third">5% Fundraising</li>
									</ul>
									<div class="mt-4">
										<a href="/" class="donate-link">
											GIve Now <i class="fa-regular fa-heart ps-2"></i
										></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="Join-our-mailing-list">
							<p class="title">Join our mailing list</p>
							<p class="title desc">
								Get the latest news about the IRC's innovative programs,
								compelling stories about our clients and how you can make a
								difference.
							</p>
							<a href="/" class="subscribe-link">Subscribe</a>
							<div class="follow-us">
								<p class="mt-3">Follow Us</p>
								<div class="social-links">
									<a href="/" class="brand-icon"
										><i class="fa-brands fa-twitter"></i
									></a>
									<a href="/" class="brand-icon"
										><i class="fa-brands fa-facebook-f"></i
									></a>
									<a href="/" class="brand-icon"
										><i class="fa-brands fa-instagram"></i
									></a>
									<a href="/" class="brand-icon"
										><i class="fa-brands fa-youtube"></i>
									</a>
									<a href="/" class="brand-icon"
										><i class="fa-brands fa-linkedin"></i
									></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-layout">
				<div class="container">
					<div class="row layout">
						<div class="col-md-6 col-sm-12">
							<p class="pt-3 text-center space-none">
								Copyright ©2023 International Rescue Committee
							</p>
						</div>
						<div class="col-md-6 col-sm-12">
							<p class="pt-3 text-center space-none">
								Terms and ConditionsPrivacy Policy
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="../assets/js/app.js"></script>
	</body>
</html>
