$raha: #00b8a5;
$white: #fff;
$black: #000;
$borderColor: #d1d1d1;
$whyUsColor: #f6f6f6;
$darkLight: #706d6d;
$rawRaha: #0edfca;
$progress: 100; /* 0 - 100 */

$unfiled-color: #d0d2d2;
$progress-color: #000;
